{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Главная страница
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>
<body>
    <header>
        <div >
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/png/icon.png' %}" alt="icon"></a>
                <div>
                    <ul>
                        <li>O'Z | РУ</li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
                             </svg>
                            <span>Сообщения</span></li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                             </svg>
                             <span>Ваш профиль</span>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    <!--Navigation bar-->
    {% include 'includes/navbar.html' %}
    <!--End of bar-->
    <div class="container1">
        <div class="home">
            <h1 class="main-text">
                <div>Добро пожаловать</div> 
                <div>в наш маганзин </div>
                <div>Olx.uz</div>
            </h1>
            <div class="background">
                <img src="{% static 'images/jpg/background.png' %}" alt="dsda">
            </div>
        </div>

    </div>
    <div class="title">
        <h3>
            Cервис объявлений № 1 в Узбекистане
            Частные объявления Узбекистана на OLX (бывший torg.uz) - здесь вы найдете то, что искали.
            Нажав на кнопку "Подать объявление", вы сможете разместить онлайн-объявление на любую необходимую тематику - поиск работы, услуги, продажа автомобилей, недвижимости, электроники и многое другое.
            С помощью сервиса OLX в Узбекистане вы можете найти, продать или купить практически все, что угодно. Воспользовавшись функцией поиска, вы без труда найдете уже опубликованные объявления интересующей вас тематики.
            OLX в Узбекистане - ваш надежный и незаменимый помощник.
        </h3>
      </div>

    <!--Content-->
    {% endblock %}
    <!--End of content-->
    
    <footer>
        <div class="link">
            <div class="column">
                <div class="name">Главные</div>
                <div class="links">
                   <a href="#">O нас</a>
                   <a href="#">Документы</a>
                   <a href="#">Связаться с нами</a>
                   <a href="#">FAQ</a>
                </div>
             </div>
             <div class="column">
                <div class="name">Категорий</div>
                <div class="links">
                   <a href="#">недвижимость</a>
                   <a href="#">Транспорт</a>
                   <a href="#">Для дома и сада</a>
                   <a href="#">Бизнесс</a>
                   <a href="#"></a>
                </div>
             </div>
             <div class="column">
                <div class="name">Категорий</div>
                <div class="links">
                   <a href="#">Техника</a>
                   <a href="#">Животные</a>
                   <a href="#">Мода и стиль</a>
                   <a href="#">Хобби</a>
                </div>
             </div>
        </div>
      <p>&copy; 2023 OLX. Все права защищены.</p>
    </footer>


</body>
</html>
